<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amba.SpreadsheetLight" version="1.0.0" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml.STW" version="2.5.5631" targetFramework="net461" />
  <package id="DynamicData" version="6.16.6" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="Splat" version="9.5.20" targetFramework="net461" />
  <package id="SpreadsheetLight" version="3.4.11" targetFramework="net461" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Xam.Plugin.FilePicker" version="1.1.0" targetFramework="net461" />
</packages>